:root {
  --brand-primary: #0768ac;
  --brand-secondary: #03c180;
  --bg-default: #ffffff;
  --bg-body: #f0f9ff;
  --lines-color: #dddddd;
  --body-text: #333333;
  --heart-color: #dc143c;
  --font-weight-light: 200;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --font-family: "Nunito Sans", sans-serif;
}

body {
  font-family: var(--font-family);
  font-weight: var(--font-weight-regular);
  background-color: var(--bg-body);
  color: var(--body-text);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 16px;
}

/* Header Navbar */

header {
  background-color: var(--bg-default);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.navbar__logo {
  font-size: 16px;
  font-weight: var(--font-weight-regular);
  color: var(--brand-primary);
}

.navbar__nav-buttons {
  display: flex;
  align-items: center;
  gap: 4px;
}
.navbar__nav-buttons .navbar__nav-button {
  padding: 0 8px;
  border: solid var(--lines-color) 1px;
  border-radius: 4px;
  background-color: var(--bg-default);
  text-decoration: none;
  display: flex;
  align-items: center;
}
.navbar__nav-buttons .navbar__nav-button button {
  padding: 5px;
  border: none;
  color: var(--body-text);
  background-color: var(--bg-default);
  font-weight: var(--font-weight-light);
  text-decoration: none;
  display: flex;
  align-items: center;
}

/* Title */
.header__title-background {
  position: relative;
  background: linear-gradient(
    to right,
    var(--brand-primary),
    var(--brand-secondary)
  );
  overflow: hidden;
  padding-top: 32px;
}

.header__title-section .header__content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  left: 0%;
  width: 25%;
}

.header__title-section::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -2px;
  height: 90px;
  width: 100%;
  background: var(--bg-default);
  clip-path: polygon(50% 0%, 100% 50%, 100% 100%, 0 100%, 0 50%);
}

.header__title-section::before {
  content: "";
  position: absolute;
  bottom: 0;
  /* left: 0; */
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--brand-secondary);
  clip-path: polygon(0 75%, 100% 0%, 100% 100%, 0% 100%);

  /* transform: skewY(-3deg);
  transform-origin: bottom right; */
}

.header__title-section h2 {
  font-size: 24px;
  font-weight: var(--font-weight-bold);
  color: var(--brand-secondary);
  z-index: 100;
}

.header__title-section p {
  font-size: 16px;
  font-weight: var(--font-weight-light);
  margin-bottom: 20px;
  margin-top: -24px;
  color: var(--body-text);
  z-index: 100;
}

.title-section input {
  padding: 10px;
  font-size: 16px;
  width: 50%;
  border: 1px solid var(--lines-color);
  border-radius: 4px;
}

/* numOfCards */

.numOfCards {
  font-weight: var(--font-weight-bold);
  color: var(--body-text);
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 24px;
}

/* Card */

#card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 16px;
  padding: 0;
  justify-content: space-between;
  background-color: var(--bg-body);
  margin-bottom: 32px;
}

.card {
  background-color: var(--bg-default);
  border: 1px solid var(--lines-color);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s;
}
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%; /* Adjust the width as necessary */
}

.card:hover {
  transform: scale(1.05);
}

.card-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.card-content {
  padding: 0 15px 4px;
  background-color: var(--bg-default);
}

.card-title {
  font-size: 14px;
  font-weight: var(--font-weight-bold);
  color: var(--body-text);
  margin-top: -4px;
}

.card-subtitle {
  font-size: 14px;
  font-weight: var(--font-weight-regular);
  color: var(--body-text);
  margin: 5px 0;
}

.card-rating {
  display: flex;
  align-items: center;
  margin-top: 16px;
}

.card-rating ion-icon {
  color: #e89c31; /* Gold color for stars */
}

.card-author {
  font-size: 14px;
  font-weight: var(--font-weight-light);
  color: var(--body-text);
  margin-top: 10px;
}

.dark-mode {
  --bg-default: #1a1a1a;
  --bg-body: #282828;
  --lines-color: #000000;
  --body-text: #ededed;
  --heart-color: #dc143c;
}

/* SearchBar */

.main__searchBox {
  display: flex;
  align-items: center;
  background-color: var(--bg-default);
  border-radius: 8px;
  justify-content: space-between;
  margin-top: 24px;
  margin-bottom: 16px;
}

.main__searchBox .main__search {
  display: flex;
  align-items: center;
  gap: 4px;
  width: 70%;
  padding: 0px 8px;
}

.main__search-input {
  width: 100%;
  padding: 4px;
  font-size: 14px;
  border: none;
  background-color: var(--bg-default);
  color: var(--body-text);
  outline: none;
  /* width: 70%; */
}

.main__sort-by {
  display: flex;
  align-items: center;
  gap: 4px;
  width: 25%;
}
.main__sort-by .main__sort {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 50%;
  padding: 4px 8px;
}

.main__sort-by .main__sort label {
  font-size: 12px;
  color: var(--body-text);
  margin-left: 4px;
}

.main__sort-by .main__sort select {
  font-size: 14px;
  border: none;
  background-color: var(--bg-default);
  color: var(--body-text);
  outline: none;
}

.main__sort-by .main__sort:first-child {
  border-left: 1px solid var(--lines-color);
  border-right: 1px solid var(--lines-color);
}

.main__sort-by .main__sort:nth-child(2) {
  padding-right: 0;
}

@media only screen and (max-width: 768px) {
  #card-container {
    justify-content: center;
    gap: 24px;
  }
  .main__searchBox {
    flex-direction: column;
    padding: 0;
  }
  .main__searchBox .main__search {
    width: 100%;
    padding: 12px 8px;
    border-bottom: 1px solid var(--lines-color);
    box-sizing: border-box;
  }
  .main__searchBox .main__sort-by {
    width: 100%;
    box-sizing: border-box;
  }
  .main__searchBox .main__sort-by .main__sort {
    padding: 8px;
  }

  .main__sort-by .main__sort:first-child {
    border-left: none;
  }
  .navbar__nav-buttons .navbar__nav-button {
    padding: 4px 8px;
  }
  .navbar__nav-buttons .navbar__nav-button button {
    display: none;
  }

  .header__title-background {
    position: relative;
    background: linear-gradient(
      to right,
      var(--brand-primary),
      var(--brand-secondary)
    );
    overflow: hidden;
    padding-top: 32px;
  }

  .header__title-section .header__content {
    margin: 0;
    width: 100%;
    padding: 0 16px;
  }

  .header__title-section::after {
    bottom: -2px;
    clip-path: polygon(50% 0%, 100% 15%, 100% 100%, 0 100%, 0 15%);
  }

  .header__title-section::before {
    clip-path: polygon(0 45%, 100% 0%, 100% 100%, 0% 100%);
  }

  .header__title-section h2 {
    font-size: 16px;
    font-weight: var(--font-weight-bold);
    color: var(--brand-secondary);
    z-index: 100;
    /* line-height: 12px; */
  }

  .header__title-section p {
    font-size: 12px;
    margin-top: -16px;
    max-width: 90%;
  }
  .numOfCards {
    font-size: 18px;
    padding: 0;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1200px) {
  .main__searchBox .main__search {
    width: 60%;
    padding: 0px 8px;
    box-sizing: border-box;
  }
  .main__searchBox .main__sort-by {
    width: 40%;
    box-sizing: border-box;
  }
  .main__searchBox .main__sort-by .sort {
    padding: 8px;
  }
  .header__title-background {
    position: relative;
    background: linear-gradient(
      to right,
      var(--brand-primary),
      var(--brand-secondary)
    );
    overflow: hidden;
    padding-top: 48px;
  }

  .header__title-section .header__content {
    margin: 0 auto;
    width: 60%;
    padding: 0 16px;
  }

  .header__title-section::after {
    bottom: -2px;
    clip-path: polygon(50% 0%, 100% 15%, 100% 100%, 0 100%, 0 15%);
  }

  .header__title-section::before {
    clip-path: polygon(0 70%, 100% 0%, 100% 100%, 0% 100%);
  }
}
